{% extends "generic_page.html" %}

{% block title %}Case:{% endblock %}

{% block body %}
  <h1>Register</h1>
  <form method="POST" action="{{ url_for('case_api.post_case') }}">
      <datalist id="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">
            {% endfor %}
      </datalist>

        user_id: <input name="user_id" value="" list="user_id"><br>
        status:<br>
         processing: <input type="radio" name="status" value="processing" checked="true">
         finished:   <input type="radio" name="status" value="finished"><br>
        <input type="reset" value="reset"><br>
        <input type="submit" value="create"><br>
  </form>
{% endblock  %}
